name: amplitude_flutter
description: Amplitude Flutter plugin
version: 3.16.2
homepage: https://www.amplitude.com
repository: https://github.com/amplitude/Amplitude-Flutter


environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=2.0.0"
dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  web: ^0.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.amplitude.amplitude_flutter
        pluginClass: AmplitudeFlutterPlugin
      ios:
        pluginClass: AmplitudeFlutterPlugin
      web:
        pluginClass: AmplitudeFlutterPlugin
        fileName: amplitude_web.dart
